# Mohamed Emara
### First Assingment

# First Exc

In [2]:
x=100
print(type(x))

<class 'int'>

In [4]:
x="Hi"
print(type(x))

<class 'str'>

In [5]:
x=4.69
print(type(x))

<class 'float'>

In [6]:
x=["Mohamed","Ahmed","Mustafa"]
print(type(x))

<class 'list'>

In [7]:
x=("Mohamed","Ahmed","Mustafa")
print(type(x))

<class 'tuple'>

In [8]:
x={"Mohamed","Ahmed","Mustafa"}
print(type(x))

<class 'set'>

In [10]:
x={"name":"Mohamed",
   "age":25
  }
print(type(x))

<class 'dict'>

In [11]:
x=True
print(type(x))

<class 'bool'>

# Second Exc

2.1 insert the Correct Syntax to convert x into a floating point number:

In [14]:
x=9
x=float(x)
print(x)
print(type(x))

5.0
<class 'float'>

2.2 Insert the correct syntax to convert x into a integer.

In [1]:
x = 4.7
x =int(x)
print(x)
print(type(x))

4
<class 'int'>

# Third Exc

3.1 Use the `len()` function to print the length of the string.

In [2]:
x = "Hello World"
y=len(x)
print(y)

11

3.2 Get the first character of the string txt.

In [5]:
txt = "Hello World"
x = txt[0]
print(x)

H

3.3 Get the characters from index 2 to index 4.

In [7]:
txt = "Hello World"
x = txt[2:5]
print(x)

llo

* 3.4 Return the string without any whitespace at the beginning or the end.
* ` txt.strip()`

In [44]:
txt = " Hello World "
x =txt.strip(" ")
print("after---> ",len(x))

after--->  11

3.5 Convert the value of `txt` to upper case.

In [45]:
txt = "Hello World"
txt = txt.upper()
print(txt)

HELLO WORLD

3.6 Convert the value of `txt` to lower case.

In [46]:
txt = "Hello World"
txt = txt.lower()
print(txt)

hello world

3.7 Replace the character` H` with a `J`

In [47]:
txt = "Hello World"
txt = txt.replace("H","J")
print(txt)

Jello World

3.8 Insert the correct syntax to add a placeholder for the age parameter.

In [48]:
age = 36
txt = f"My name is John, and I am {age}"
print(txt)

My name is John, and I am 36

# Forth Exc

4.1 The statement below would print a Boolean value, which one?

In [49]:
print(10 > 9)

True

4.2 The statement below would print a Boolean value, which one?

In [50]:
print(10 == 9)

False

4.3 The statement below would print a Boolean value, which one?

In [52]:
print(10 < 9)

False

# Exc 1
#### Write a Python program to print the following string in a specific format

In [54]:
print('''Twinkle, twinkle, little star,
How I wonder what you are!
Up above the world so high,
Like a diamond in the sky.
Twinkle, twinkle, little star,
How I wonder what you are!''')

Twinkle, twinkle, little star,
How I wonder what you are!
Up above the world so high,
Like a diamond in the sky.
Twinkle, twinkle, little star,
How I wonder what you are!

# Exc 2
#### Write a Python program that print the user's first and last name and prints them in reverse order with a space between them.

In [8]:
Name_Lastname="Mohamed Emara"

print(Name_Lastname[::-1])

aramE demahoM

# Exc 3
#### Write a Python program that calculates the area of a circle and radius = 1.1

In [60]:
import numpy as num 
r=1.1
Area=num.pi*(r**2)
print(Area)

3.8013271108436504

# Exc 4 
#### Write a Python program that accepts a filename from the user and prints the extension of the file.

In [66]:
x=input("Enter The Filename: ")
y=x.split(".")
print("the extention of the file is:",y[-1])

Enter The Filename: abc.java
the extention of the file is: java

# Exercise-5
#### Covert from string to list and tuple value ="Amit"
 ## After that
 ### Relace the index 3 in the list
  ### Convert the list to string and print the list

In [10]:
x="Amit"
y=list(x)
z=tuple(x)
print(y)
print(z)
y[3]="Z"
c="".join(y)
print(y)
print(c)

['A', 'm', 'i', 't']
('A', 'm', 'i', 't')
['A', 'm', 'i', 'Z']
AmiZ

# Exercise-6
#### Write a Python program to display the first and last colors from the following list.
#### color_list = ["Red","Green","White" ,"Black"]

In [78]:
color_list = ["Red","Green","White" ,"Black"]
print(color_list[0],color_list[-1])

Red Black

In [91]:
color_list[::3]

['Red', 'Black']

# Exercise-7
#### Write a Python program to print the following 'here document'.

In [11]:
print('''Hello Sir,
What is your mother tongue:
(a) English
(b) Arabic
(c) Turkish ''')

Hello Sir,
What is your mother tongue:
(a) English
(b) Arabic
(c) Turkish

# Exercise-8
###### I need to  check if  link `https://www.google.com/` strart with https or not and if the ` aimt4536@gmail.com` end with .com

In [96]:
x="https://www.google.com/"
y="aimt4536@gmail.com"
print(x.startswith("https"))
print(y.endswith(".com"))

True
True